<body>
  <div class="wrap">
    <h2> Questa è la tua recensione, sicuro di volerla inviare? </h2>
    <%= form_tag ground_reviews_path(), id:"new_form", :method => :post do %>
    <table>
      <tr>
	<td class="align-center"><label class="align-center"><b> Voto </b></label></td>
	<td class="align-center"><label class="align-center"> <b> Commento </b> </label></td>
      </tr>
      <tr>
	<td class="rating-cell"><input type="text" class="align-center" name="rating" id="rating_id" readonly/></td>
	<td><textarea name="review" id="comment" readonly> </textarea></td>
	<td><input type="submit" id="confirmbtn" value="Confermo"/></td>
      </tr>
    </table>
    <% end %>
  </div>
</body>  
<script>
  function init(){
      document.getElementById("comment").value = localStorage.getItem("comment");
      document.getElementById("rating_id").value = localStorage.getItem("rating");
  }
  init();
</script>

<style>
  .wrap{
      margin-left: 25%;
  }
  #confirmbtn{
      
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #00008B;
      font-weight: bold;
      color:white;
      cursor: pointer;
  }
  #confirmbtn:hover{
      background-color: #000080;
  }

  
  
  #comment{
      width: 512px;
      height: 150px;
      resize: none;
  }

  .rating-cell{
      vertical-align: top;
      
  }
  .align-center{
      text-align: center;
  }
</style>
